body{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

h1{
    font-size: 2.5rem;
}

.btn{
    padding: 10px;
    height: 50px;
    width: 90px;
    margin: 40px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 1.2rem;
    cursor: pointer;
}

#start{
    background-color: green;
}

#start:hover{
    background-color: rgb(155, 191, 155);
}

#stop{
    background-color: red;
}

#stop:hover{
    background-color: rgb(124, 66, 66);
}